{{#d-modal-body title="chat.create_channel.title"}}
  <label class="create-channel-label">
    {{i18n "chat.create_channel.choose_category.label"}}
  </label>
  {{category-chooser
    value=categoryId
    onChange=(action "onCategoryChange")
    options=(hash none="chat.create_channel.choose_category.none")
  }}

  {{#if categoryPermissionsHint}}
    <div class="create-channel-hint">
      {{html-safe categoryPermissionsHint}}
    </div>
  {{/if}}

  <label class="create-channel-label">
    {{input type="checkbox" checked=autoJoinUsers}}
    <span>{{i18n "chat.settings.enable_auto_join_users"}}</span>
  </label>

  <label class="create-channel-label">
    {{i18n "chat.create_channel.name"}}
  </label>
  {{input class="create-channel-name-input" type="text" value=name}}

  <label class="create-channel-label">
    {{i18n "chat.create_channel.description"}}
  </label>
  {{input
    class="create-channel-description-input"
    type="textarea"
    value=description
  }}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    class="btn-primary create"
    action=(action "create")
    label="chat.create_channel.create"
    disabled=createDisabled
  }}
</div>
