{{#d-modal-body title="chat.create_channel.title"}}
  <label class="create-channel-label">{{i18n "chat.create_channel.type"}}</label>
  {{combo-box
    class="type-chooser"
    value=type
    content=types
    onChange=(action (mut type))
  }}

  {{#if (eq type "category")}}
    <label class="create-channel-label">
      {{html-safe
        (i18n "chat.create_channel.choose_category.label" link=categoryHint.link category=categoryHint.category) }}
    </label>

    {{category-chooser
      value=categoryId
      onChange=(action "onCategoryChange")
      options=(hash
        none="chat.create_channel.choose_category.none"
      )
    }}
  {{else if (eq type "topic")}}
    {{choose-topic onSearchEmptied=(action "onTopicCleared") topicChangedCallback=(action "onTopicChange") selectedTopicId=selectedTopicId}}
  {{/if}}

  <label class="create-channel-label">{{i18n "chat.create_channel.name"}}</label>
  {{input class="create-channel-name-input" type="text" value=name}}

  <label class="create-channel-label">{{i18n "chat.create_channel.description"}}</label>
  {{input class="create-channel-description-input" type="textarea" value=description}}

  {{#if entitySelected}}
    <div class="chat-channel-title">
      {{#if (and (eq type "topic") topic)}}
        <span class="topic-chat-badge">
          {{d-icon "far-comments"}}
        </span>
        <span class="topic-chat-name">{{replace-emoji name}}</span>
      {{else if (and (eq type "category") category)}}
        <span class="category-chat-badge" style={{html-safe (concat "color: #" category.color)}}>
          {{d-icon "hashtag"}}
          {{#if category.read_restricted}}
            <span class="category-chat-private">
              {{d-icon "lock"}}
            </span>
          {{/if}}
        </span>
        <span class="category-chat-name">
          {{replace-emoji name}}
        </span>
      {{/if}}
    </div>
  {{/if}}
{{/d-modal-body}}

<div class="modal-footer">
  {{d-button
    class="btn-primary create"
    action=(action "create")
    label="chat.create_channel.create"
    disabled=createDisabled
  }}
</div>
