{{#if selectedWebhook}}
  {{d-button
    class="incoming-chat-webhooks-back"
    icon="chevron-left"
    label="chat.incoming_webhooks.back"
    title="chat.incoming_webhooks.back"
    action=(action (mut selectedWebhookId) null)
  }}

  <form class="form-vertical">
    <div class="control-group">
      <label class="control-label">
        {{i18n "chat.incoming_webhooks.name"}}
      </label>
      {{input
        type="text"
        value=selectedWebhook.name
        placeholder=(i18n "chat.incoming_webhooks.name")
      }}
    </div>

    <div class="control-group">
      <label class="control-label">
        {{i18n "chat.incoming_webhooks.description"}}
      </label>
      {{textarea value=selectedWebhook.description}}
    </div>

    <div class="control-group">
      <label class="control-label">
        {{i18n "chat.incoming_webhooks.username"}}
      </label>
      {{input
        type="text"
        value=selectedWebhook.username
        placeholder=(i18n "chat.incoming_webhooks.system")
      }}
      <div class="control-instructions">
        {{i18n "chat.incoming_webhooks.username_instructions"}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">
        {{i18n "chat.incoming_webhooks.post_to"}}
      </label>
      {{chat-channel-chooser
        content=model.chat_channels
        value=selectedWebhook.chat_channel.id
        onChange=(action "changeChatChannel")
      }}
    </div>

    <div class="control-group">
      <label class="control-label">
        {{#if selectedWebhook.emoji}}
          {{i18n "chat.incoming_webhooks.current_emoji"}}

          <span class="incoming-chat-webhooks-current-emoji">
            {{replace-emoji selectedWebhook.emoji}}
          </span>
        {{else}}
          {{i18n "chat.incoming_webhooks.no_emoji"}}
        {{/if}}
      </label>

      {{emoji-picker
        isActive=emojiPickerIsActive
        isEditorFocused=true
        emojiSelected=(action "emojiSelected")
        onEmojiPickerClose=(action (mut emojiPickerIsActive) false)
      }}

      {{#unless emojiPickerIsActive}}
        {{d-button
          class="btn-primary"
          label="chat.incoming_webhooks.select_emoji"
          action=(action (mut emojiPickerIsActive) true)
        }}
        {{d-button
          label="chat.incoming_webhooks.reset_emoji"
          action=(action (mut selectedWebhook.emoji) null)
          disabled=(not selectedWebhook.emoji)
        }}
      {{/unless}}

      <div class="control-instructions">
        {{i18n "chat.incoming_webhooks.emoji_instructions"}}
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">{{i18n "chat.incoming_webhooks.url"}}</label>
      <label>{{selectedWebhook.url}}</label>
      <div class="control-instructions">
        {{i18n "chat.incoming_webhooks.url_instructions"}}
      </div>
    </div>

    {{d-button
      class="btn-primary"
      label="chat.incoming_webhooks.save"
      title="chat.incoming_webhooks.save"
      action=(action "saveEdit")
      disabled=saveEditDisabled
    }}
  </form>
{{else}}
  {{!  Index view   }}
  <h3>{{i18n "chat.incoming_webhooks.title"}}</h3>

  {{#if creatingNew}}
    <div class="new-incoming-webhook-container">
      {{input
        type="text"
        value=newWebhookName
        placeholder=(i18n "chat.incoming_webhooks.name_placeholder")
      }}
      {{chat-channel-chooser
        content=model.chat_channels
        value=newWebhookChannelId
        onChange=(action (mut newWebhookChannelId))
      }}
      {{d-button
        label="chat.create"
        title="chat.create"
        class="btn-primary create-new-incoming-webhook-btn"
        disabled=(not nameAndChannelValid)
        action=(action "createNewWebhook")
      }}
      {{d-button
        label="chat.cancel"
        title="chat.cancel"
        action=(action "resetNewWebhook")
      }}
    </div>
  {{else}}
    {{d-button
      label="chat.incoming_webhooks.new"
      title="chat.incoming_webhooks.new"
      class="btn-primary"
      action=(action (mut creatingNew) true)
    }}
  {{/if}}

  <div class="incoming-chat-webhooks">
    {{#if model.incoming_chat_webhooks}}
      {{#each sortedWebhooks as |webhook|}}
        <div class="incoming-chat-webhooks--row">
          <div class="incoming-chat-webhooks--row--details">
            <div class="incoming-chat-webhooks--row--details--name">
              {{webhook.name}}
            </div>

            <div>
              {{#if webhook.emoji}}
                {{replace-emoji webhook.emoji}}
              {{/if}}

              {{#if webhook.username}}
                {{webhook.username}}
              {{else}}
                {{i18n "chat.incoming_webhooks.system"}}
              {{/if}}
            </div>

            <div>{{chat-channel-title channel=webhook.chat_channel}}</div>
            <div>{{webhook.description}}</div>
          </div>

          <div class="incoming-chat-webhooks--row--controls">
            <div>
              {{d-button
                class="btn"
                icon="pencil-alt"
                title="chat.incoming_webhooks.edit"
                action=(action (mut selectedWebhookId) webhook.id)
              }}
              {{d-button
                class="btn"
                icon="trash-alt"
                title="chat.incoming_webhooks.delete"
                action=(action "destroyWebhook" webhook)
              }}
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      {{i18n "chat.incoming_webhooks.none"}}
    {{/if}}
  </div>
{{/if}}
