<div class="chat-browse">
  {{#if model.categoryChannels}}
    <div class="category-channels">
      {{#each model.categoryChannels as |channel|}}
        {{chat-channel-settings-row channel=channel categoryChannel=true}}
      {{/each}}
    </div>

  {{else if model.topicChannels}}
    <div class="topic-channels">
      {{#each model.topicChannels as |channel|}}
        {{chat-channel-settings-row channel=channel}}
      {{/each}}
    </div>

  {{else}}
    <EmptyState @title={{i18n "chat.no_joinable_channels_title"}} @body={{i18n "chat.no_joinable_channels_body"}} />
  {{/if}}
</div>
