<div class="chat-browse">
  {{#if model.categoryChannels}}
    <div class="category-channels">
      {{#each model.categoryChannels as |channel|}}
        {{chat-channel-settings-row channel=channel categoryChannel=true}}
      {{/each}}
    </div>
  {{/if}}

  {{#if model.topicChannels}}
    <div class="topic-channels">
      {{#each model.topicChannels as |channel|}}
        {{chat-channel-settings-row channel=channel}}
      {{/each}}
    </div>
  {{/if}}

  {{#if noChannelsAvailable}}
    <div class="empty-state">
      <span class="empty-state-title">{{i18n "chat.empty_state.title"}}</span>
      <div class="empty-state-body">
        {{#each model as |channel|}}
          {{chat-channel-settings-row channel=channel}}
        {{else}}
          <p>{{i18n "chat.empty_state.no_public_available"}}</p>
        {{/each}}
        <hr>
        <p>{{i18n "chat.empty_state.start_direct_message"}}</p>
        {{#if creatingDm}}
          {{dm-creator
            afterCreate=(action "afterDmCreation")
            onCancel=(action "cancelDmCreation")
          }}
        {{else}}
          {{d-button
            class="btn-primary start-creating-dm-btn"
            action=(action "startCreatingDm")
            label="chat.empty_state.create_personal_chat"
          }}
        {{/if}}
      </div>
    </div>
  {{/if}}
</div>
