<div id="chat-progress-bar-container"></div>

{{chat-vh}}

{{#if chat.sidebarActive}}
  <div class="full-page-chat teams-sidebar-on">
    {{outlet}}
  </div>
{{else}}
  <div
    class={{concat-class
      "full-page-chat"
      (if
        site.siteSettings.enable_sidebar
        "full-page-chat-sidebar-enabled"
      )
    }}
  >
    {{#if
      (and (not site.siteSettings.enable_sidebar) (not site.mobileView))
    }}
      {{channels-list onSelect=(action "switchChannel")}}
    {{/if}}

    <div id="main-chat-outlet">
      {{outlet}}
    </div>
  </div>
{{/if}}
