<div class="empty-state">
  <span class="empty-state-title">{{i18n "chat.empty_state.title"}}</span>
  <div class="empty-state-body">
    {{#if model.length}}
      <p>{{i18n "chat.empty_state.public_available"}}</p>
      {{d-button
        class="btn-primary"
        action=(action "openFollowModal")
        label="chat.empty_state.follow_channels"
      }}
    {{else}}
      <p>{{i18n "chat.empty_state.no_public_available"}}</p>
    {{/if}}
    <hr>
    <p>{{i18n "chat.empty_state.start_direct_message"}}</p>
    {{#if creatingDm}}
      {{dm-creator
        afterCreate=(action "afterDmCreation")
        onCancel=(action "cancelDmCreation")
      }}
    {{else}}
      {{d-button
        class="btn-primary"
        action=(action "startCreatingDm")
        label="chat.empty_state.create_personal_chat"
      }}
    {{/if}}
  </div>
</div>
