{{#conditional-loading-spinner condition=this.loading}}
  <div class="chat-channel-divider">
    {{#if inSidebar}}
      <span
        class="title-caret"
        id="public-channels-caret"
        role="button"
        title="toggle nav list"
        {{action "toggleChannelSection" "public-channels"}}
        data-toggleable="public-channels"
      >
        {{d-icon "angle-up"}}
      </span>
    {{/if}}
    {{#if chat.presenceChannel.count}}
      {{i18n "chat.chat_channels_with_count" count=chat.presenceChannel.count}}
    {{else}}
      {{i18n "chat.chat_channels"}}
    {{/if}}
    {{flat-button
      class="edit-channel-membership-btn"
      icon="pencil-alt"
      action=(action "openChannelSettingsModal")
      title="chat.edit_channels"
    }}
  </div>
  <div id="public-channels" class={{publicChannelClasses}}>
    {{#if publicChannelsEmpty}}
      <div class="public-channel-empty-message">
        {{i18n "chat.no_public_channels"}}
        <a href {{action "openChannelSettingsModal"}}>
          {{i18n "chat.click_to_join"}}
        </a>
      </div>
    {{else}}
      {{#each publicChannels as |channel|}}
        {{chat-channel-row channel=channel switchChannel=onSelect}}
      {{/each}}
    {{/if}}
  </div>

  <div class="chat-channel-divider">
    {{#if inSidebar}}
      <span
        class="title-caret"
        id="direct-message-channels-caret"
        role="button"
        title="toggle nav list"
        {{action "toggleChannelSection" "direct-message-channels"}}
        data-toggleable="direct-message-channels"
      >
        {{d-icon "angle-up"}}
      </span>
    {{/if}}
    {{i18n "chat.direct_messages.title"}}
    {{#unless creatingDmChannel}}
      {{flat-button
        class="new-dm keep-mobile-sidebar-open"
        icon="plus"
        action=(action "startCreatingDmChannel")
        title="chat.direct_messages.new"
      }}
    {{/unless}}
  </div>
  {{#if creatingDmChannel}}
    {{dm-creator
      afterCreate=(action "afterDmCreation")
      onCancel=(action "cancelDmCreation")
    }}
  {{/if}}

  <div id="direct-message-channels" class={{directMessageChannelClasses}}>
    {{#each sortedDirectMessageChannels as |channel|}}
      {{chat-channel-row channel=channel switchChannel=onSelect}}
    {{/each}}
  </div>
{{/conditional-loading-spinner}}
