<div class="chat-channels">
  <div class="chat-channel-divider">
    {{#if inSidebar}}
      <span
        class="title-caret"
        id="public-channels-caret"
        role="button"
        title="toggle nav list"
        {{action "toggleChannelSection" "public-channels"}}
        data-toggleable="public-channels"
      >
        {{d-icon "angle-up"}}
      </span>
    {{/if}}
    <span class="channel-title">{{i18n "chat.chat_channels"}}</span>

    {{#if currentUser.staff}}
      {{dropdown-select-box
        options=(hash icon="pencil-alt" placementStrategy="absolute")
        content=channelsActions
        onChange=(action "handleChannelAction")
        class="edit-channels-dropdown"
      }}
    {{else}}
      {{d-button
        action=(action "browseChannels")
        icon="pencil-alt"
        class="btn-flat edit-channel-membership-btn title-action"
      }}
    {{/if}}
  </div>

  <div id="public-channels" class={{publicChannelClasses}}>
    {{#if publicChannelsEmpty}}
      <div class="public-channel-empty-message">
        <span class="channel-title">{{i18n "chat.no_public_channels"}}</span>
        {{#link-to "chat.browse"}}
          {{i18n "chat.click_to_join"}}
        {{/link-to}}
      </div>
    {{else}}
      {{#each publicChannels as |channel|}}
        {{chat-channel-row channel=channel switchChannel=onSelect}}
      {{/each}}
      {{plugin-outlet name="below-plugin-chat-channels" tagName="" args=(hash inSidebar=inSidebar)}}
    {{/if}}
  </div>

  <div class="chat-channel-divider">
    {{#if inSidebar}}
      <span
        class="title-caret"
        id="direct-message-channels-caret"
        role="button"
        title="toggle nav list"
        {{action "toggleChannelSection" "direct-message-channels"}}
        data-toggleable="direct-message-channels"
      >
        {{d-icon "angle-up"}}
      </span>
    {{/if}}
    <span class="channel-title">{{i18n "chat.direct_messages.title"}}</span>
    {{#unless creatingDmChannel}}
      {{d-button
        class="btn-flat new-dm keep-mobile-sidebar-open"
        icon="plus"
        action=(action "startCreatingDmChannel")
        title="chat.direct_messages.new"
      }}
    {{/unless}}
  </div>

  {{#if creatingDmChannel}}
    {{dm-creator
      afterCreate=(action "afterDmCreation")
      onCancel=(action "cancelDmCreation")
    }}
  {{/if}}

  <div id="direct-message-channels" class={{directMessageChannelClasses}}>
    {{#each sortedDirectMessageChannels as |channel|}}
      {{chat-channel-row channel=channel switchChannel=onSelect options=(hash leaveButton=true)}}
    {{/each}}
  </div>
</div>
