{{#if (eq type IMAGE_TYPE)}}
  <img class="chat-img-upload" data-orig-src={{upload.short_url}} height={{size.height}} width={{size.width}}>
{{else}}
  <a class="chat-other-upload" data-orig-href={{upload.short_url}}>{{upload.original_filename}}</a>
{{/if}}
