{{#if fullPage}}
  <div class="chat-full-page-header {{if previewing "previewing"}}">
    <div class="chat-channel-header-details">
      {{#if site.mobileView}}
        {{d-button class="btn-flat" icon="chevron-left" action=onBackClick}}
      {{/if}}

      <div class="chat-channel-title-with-status">
        {{#chat-channel-title
          onClick=(action "onChannelTitleClick")
          channel=chatChannel
        }}
          {{component
            (if site.mobileView "flat-button" "d-button")
            icon="trash-alt"
            action=(action "navigateToIndex")
            class="leave-channel btn-default"
          }}
        {{/chat-channel-title}}
        {{chat-channel-status channel=chatChannel}}
      </div>

      {{chat-channel-archive-status channel=chatChannel}}
    </div>
  </div>
{{/if}}

{{direct-message-creator
  channel=chatChannel
  isLoading=sendingloading
  onSwitchChannel=onSwitchChannel
}}

<div class="chat-messages-scroll chat-messages-container">
  {{#conditional-loading-spinner condition=this.loading}}
    {{conditional-loading-spinner condition=this.loadingMoreFuture}}

    {{chat-retention-reminder chatChannel=chatChannel}}
    {{#each this.messages as |message|}}
      {{chat-message
        message=message
        canInteractWithChat=canInteractWithChat
        details=this.details
        chatChannel=chatChannel
        setReplyTo=(action "setReplyTo")
        replyMessageClicked=(action "replyMessageClicked")
        editButtonClicked=(action "editButtonClicked")
        afterExpand=(action "decorateMessages")
        selectingMessages=selectingMessages
        onStartSelectingMessages=onStartSelectingMessages
        onSelectMessage=onSelectMessage
        bulkSelectMessages=bulkSelectMessages
        fullPage=fullPage
        afterReactionAdded=(action "reStickScrollIfNeeded")
        isHovered=(eq message.id hoveredMessageId)
        onHoverMessage=(action "onHoverMessage")
        previewing=previewing
        onSwitchChannel=onSwitchChannel
      }}
    {{/each}}
    {{conditional-loading-spinner condition=this.loadingMorePast}}
  {{/conditional-loading-spinner}}
  {{#if allPastMessagesLoaded}}
    <div class="all-loaded-message">
      {{i18n "chat.all_loaded"}}
    </div>
  {{/if}}
</div>

{{#if showScrollToBottomBtn}}
  <div class="scroll-stick-wrap">
    <a
      href
      title={{i18n "chat.scroll_to_bottom"}}
      class="btn btn-flat chat-scroll-to-bottom"
      {{on "click" (action "restickScrolling")}}
    >
      {{d-icon "arrow-down"}}
    </a>
  </div>
{{/if}}

{{#if expanded}}
  {{#if selectingMessages}}
    {{chat-selection-manager
      selectedMessageIds=selectedMessageIds
      chatChannel=chatChannel
      canModerate=details.can_moderate
      cancelSelecting=(action "cancelSelecting")}}
  {{else}}
    {{chat-composer
      draft=draft
      details=this.details
      canInteractWithChat=canInteractWithChat
      creatingChannel=creatingChannel
      sendMessage=(action "sendMessage")
      editMessage=(action "editMessage")
      setReplyTo=(action "setReplyTo")
      loading=sendingloading
      editingMessage=(readonly this.editingMessage)
      onCancelEditing=this.cancelEditing
      setInReplyToMsg=this.setInReplyToMsg
      onEditLastMessageRequested=this.editLastMessageRequested
      onValueChange=(action "composerValueChanged")
      previewing=previewing
      fullPage=fullPage
      chatChannel=chatChannel
    }}
  {{/if}}
{{/if}}

{{chat-replying-indicator chatChannel=chatChannel}}
