{{#if replyToMsg}}
  <div class="tc-composer-replypreview">
    <span class="width-limited">
      {{d-icon "reply"}}
      <span class="tc-reply-av">{{avatar replyToMsg.user imageSize="tiny"}}</span>
      <span class="tc-reply-username">@{{replyToMsg.user.username}}</span>
      <span class="tc-reply-msg">{{replyToMsg.message}}</span>
    </span>
    {{flat-button action=(action "cancelReplyTo")
      class="tc-cancel-reply"
      icon="times-circle"
      title="chat.reply_cancel"}}
  </div>
{{/if}}
<div class="tc-composer-row">
  {{d-textarea value=value
    type="text"
    class="tc-composer-input"
    disabled=inputDisabled
    autocorrect="on"
    autocapitalize="off"
    placeholder=placeholder}}
  {{#if expanded}}
    {{flat-button action=(action "internalSendChat")
      icon=sendIcon
      disabled=sendDisabled
      title=sendTitle}}
  {{/if}}
</div>
