<div
  class="{{rowClassNames}}"
  role="button"
  tabindex="0"
  {{on "click" this.handleClick}}
  data-id={{model.id}}
>
  {{#if model.user}}
    {{avatar model imageSize="tiny"}}
    <span class="username">
      {{model.username}}
    </span>
  {{else}}
    {{chat-channel-title channel=model unreadIndicator=true}}
  {{/if}}
</div>
