<div
  class="{{chatChannelClass}}
    chat-channel-settings-row chat-channel-settings-row-{{channel.id}}"
>
  <div class="chat-channel-info">
    <div class="channel-title-container">
      {{#link-to "chat.channel" channel.id channel.title class="channel-title"}}
        {{chat-channel-title channel=channel}}
      {{/link-to}}
    </div>

    <div class="chat-channel-data">
      {{#if channel.isFollowing}}
        {{d-icon "check"}}
        <p class="channel-joined">
          {{i18n "chat.settings.followed"}}
        </p>
      {{/if}}

      {{#if (and channel.description categoryChannel)}}
        <div class="chat-channel-description">
          •
          {{channel.description}}
        </div>
      {{/if}}
      {{chat-channel-status channel=channel format="short"}}
    </div>
  </div>

  <div class="btn-container">
    {{#unless channel.isFollowing}}
      {{d-button
        class="chat-channel-preview"
        action=(action "previewChannel")
        disabled=loading
        label="chat.settings.preview"
      }}
    {{/unless}}
    <ToggleChannelMembershipButton
      @channel={{this.channel}}
      @options={{hash joinClass="btn-primary" leaveClass="btn-danger" labelType="short"}}
    />
  </div>
</div>
