{{#if fullPage}}
  <div class="chat-full-page-header {{if previewing "previewing"}}">
    <div class="chat-channel-header-details">
      {{#if site.mobileView}}
        {{d-button
          class="btn-flat"
          icon="chevron-left"
          action=onBackClick
        }}
      {{/if}}

      {{chat-channel-title onClick=(action "onChannelTitleClick") channel=chatChannel}}

      {{chat-channel-status channel=chatChannel showFailureMessages=true}}

      {{#if (and chatChannel.archive_failed currentUser.staff)}}
        <div class="alert alert-warn chat-channel-retry-archive">
          <div class="chat-channel-archive-failed-message">
            {{html-safe channelArchiveFailedMessage}}
          </div>
          <div class="chat-channel-archive-failed-retry">
            {{d-button action=(action "retryArchive") label="chat.channel_archive.retry"}}
          </div>
        </div>
      {{/if}}

      {{#if previewing}}
        {{d-button
          class="btn-primary join-channel-btn"
          action=(action "joinChannel")
          label="chat.join"
        }}
      {{/if}}

    </div>
  </div>
{{/if}}

<div class="chat-messages-scroll chat-messages-container">
  {{#conditional-loading-spinner condition=this.loading}}
    {{conditional-loading-spinner condition=this.loadingMoreFuture}}
    {{#if (and previewing (not fullPage))}}
      {{d-button
        class="btn-primary join-channel-btn in-float"
        action=(action "joinChannel")
        label="chat.join"
      }}
    {{/if}}

    {{chat-retention-reminder chatChannel=chatChannel}}
    {{#each this.messages as |message|}}
      {{chat-message
        message=message
        canInteractWithChat=canInteractWithChat
        details=this.details
        chatChannel=chatChannel
        setReplyTo=(action "setReplyTo")
        replyMessageClicked=(action "replyMessageClicked")
        editButtonClicked=(action "editButtonClicked")
        afterExpand=(action "decorateMessages")
        selectingMessages=selectingMessages
        onStartSelectingMessages=onStartSelectingMessages
        onSelectMessage=onSelectMessage
        bulkSelectMessages=bulkSelectMessages
        fullPage=fullPage
        afterReactionAdded=(action "reStickScrollIfNeeded")
      }}
    {{/each}}
    {{conditional-loading-spinner condition=this.loadingMorePast}}
  {{/conditional-loading-spinner}}
  {{#if allPastMessagesLoaded}}
    <div class="all-loaded-message">
      {{i18n "chat.all_loaded"}}
    </div>
  {{/if}}
</div>

{{#if showScrollToBottomBtn}}
  <div class="scroll-stick-wrap">
    <a
      href
      title={{i18n "chat.scroll_to_bottom"}}
      class="btn btn-flat chat-scroll-to-bottom"
      {{on "click" (action "restickScrolling")}}
    >
      {{d-icon "arrow-down"}}
    </a>
  </div>
{{/if}}

{{#if expanded}}
  {{#if selectingMessages}}
    <div class="chat-selection-management">
      <div class="chat-selection-management-buttons">
        {{#if canMoveToTopic}}
          {{d-button
            id="chat-move-to-topic-btn"
            class="btn-primary"
            icon="sign-out-alt"
            label="chat.selection.move_to_topic"
            title="chat.selection.move_to_topic"
            disabled=(not anyMessagesSelected)
            action=(action "moveMessagesToTopic")
          }}
        {{/if}}
        {{#if canQuote}}
          {{d-button
            id="chat-quote-btn"
            class="btn-secondary"
            icon="quote-left"
            label="chat.selection.quote_selection"
            title="chat.selection.quote_selection"
            disabled=(not anyMessagesSelected)
            action=(action "quoteMessages")
          }}
        {{/if}}
        {{d-button
          icon="times"
          class="btn-secondary cancel-btn"
          label="chat.selection.cancel"
          title="chat.selection.cancel"
          action=(action "cancelSelecting")
        }}
      </div>
      {{#if showChatQuoteSuccess}}
        <div class="chat-selection-message alert alert-success">
          {{i18n "chat.quote.copy_success"}}
        </div>
      {{/if}}
    </div>
  {{else}}
    {{chat-composer
      draft=draft
      details=this.details
      canInteractWithChat=canInteractWithChat
      sendMessage=(action "sendMessage")
      editMessage=(action "editMessage")
      setReplyTo=(action "setReplyTo")
      loading=sendingloading
      editingMessage=(readonly this.editingMessage)
      onCancelEditing=this.cancelEditing
      setInReplyToMsg=this.setInReplyToMsg
      onEditLastMessageRequested=this.editLastMessageRequested
      onValueChange=(action "composerValueChanged")
      previewing=previewing
      fullPage=fullPage
      chatChannel=chatChannel
    }}
  {{/if}}

  {{chat-replying-indicator chatChannelId=chatChannel.id}}
{{/if}}
