<div
  id="chat-channel-row-{{channel.id}}"
  class="{{rowClassNames}}{{if isUnfollowing "unfollowing"}}"
  {{on "click" this.handleClick}}
  {{on "keyup" this.handleKeyUp}}
  {{on "mouseup" this.handleNewWindow}}
  role="button"
  tabindex="0"
  data-chat-channel-id={{channel.id}}
>
  {{chat-channel-title channel=channel unreadIndicator=true}}

  {{#if options.leaveButton}}
    {{chat-channel-leave-btn
      channel=channel
      onLeaveChannel=(action "onLeaveChannel")
    }}
  {{/if}}
</div>
