{{! template-lint-disable no-invalid-interactive }}

{{chat-message-separator message=message}}

{{#if (and showActions site.mobileView this.chatMessageActionsMobileAnchor)}}
  {{#in-element this.chatMessageActionsMobileAnchor}}
    {{chat-message-actions-mobile
      message=message
      emojiReactions=emojiReactions
      secondaryButtons=secondaryButtons
      messageActions=messageActions
      messageCapabilities=messageCapabilities
      onHoverMessage=onHoverMessage
    }}
  {{/in-element}}
{{/if}}

{{#if this.chatMessageEmojiPickerAnchor}}
  {{#in-element this.chatMessageEmojiPickerAnchor}}
    {{emoji-picker
      emojiStore=emojiReactionStore
      isActive=emojiPickerIsActive
      isEditorFocused=true
      usePopper=false
      emojiSelected=(action "selectReaction")
      onEmojiPickerClose=(action (mut emojiPickerIsActive) false)
    }}
  {{/in-element}}
{{/if}}

<div
  {{on "touchmove" this.handleTouchMove passive=true}}
  {{on "touchstart" this.handleTouchStart passive=true}}
  {{on "touchend" this.handleTouchEnd passive=true}}
  {{on "mouseenter" (fn this.onHoverMessage message (hash desktopOnly=true))}}
  {{on "mouseleave" (fn this.onHoverMessage null (hash desktopOnly=true))}}
  {{chat/track-message-visibility}}
  class={{concat-class
    "chat-message-container"
    (if selectingMessages "selecting-messages")
  }}
  data-id={{or message.id message.stagedId}}
>

  {{#if show}}
    {{#if selectingMessages}}
      {{input
        type="checkbox"
        class="chat-message-selector"
        checked=message.selected
        click=(action "toggleChecked")
      }}
    {{/if}}

    {{#if deletedAndCollapsed}}
      <div class="chat-message-deleted">
        {{d-button
          class="btn-flat chat-message-expand"
          action=(action "expand")
          label="chat.deleted"
        }}
      </div>
    {{else if hiddenAndCollapsed}}
      <div class="chat-message-hidden">
        {{d-button
          class="btn-flat chat-message-expand"
          action=(action "expand")
          label="chat.hidden"
        }}
      </div>
    {{else}}
      <div class={{chatMessageClasses}}>
        {{#if (and showActions (not site.mobileView))}}
          {{! TODO: move chat-message-actions to a shared DOM node using the newly available in-element }}
          {{chat-message-actions-desktop
            message=message
            emojiReactions=emojiReactions
            secondaryButtons=secondaryButtons
            messageActions=messageActions
            messageCapabilities=messageCapabilities
            onHoverMessage=onHoverMessage
          }}
        {{/if}}

        {{#if message.in_reply_to}}
          <div
            role="button"
            onclick={{action "viewReply"}}
            class="chat-reply is-direct-reply"
          >
            {{d-icon "share" title="chat.in_reply_to"}}

            {{#if message.in_reply_to.chat_webhook_event.emoji}}
              {{chat-emoji-avatar
                emoji=message.in_reply_to.chat_webhook_event.emoji
              }}
            {{else}}
              {{chat-user-avatar user=message.in_reply_to.user}}
            {{/if}}

            <span class="chat-reply__excerpt">
              {{replace-emoji message.in_reply_to.excerpt}}
            </span>
          </div>
        {{/if}}

        {{#if hideUserInfo}}
          {{chat-message-left-gutter message=@message details=@details}}
        {{else}}
          {{chat-message-avatar message=@message}}
        {{/if}}

        <div class="chat-message-content">
          {{#unless hideUserInfo}}
            {{chat-message-info message=@message details=@details}}
          {{/unless}}

          {{#chat-message-text
            cooked=message.cooked
            uploads=message.uploads
            edited=message.edited
          }}
            {{#if hasReactions}}
              <div class="chat-message-reaction-list">
                {{#if reactionLabel}}
                  <div class="reaction-users-list">
                    {{replace-emoji reactionLabel}}
                  </div>
                {{/if}}

                {{#each-in message.reactions as |emoji reactionAttrs|}}
                  {{chat-message-reaction
                    reaction=(hash
                      emoji=emoji
                      users=reactionAttrs.users
                      count=reactionAttrs.count
                      reacted=reactionAttrs.reacted
                    )
                    react=(action "react")
                    showUsersList=true
                  }}
                {{/each-in}}

                {{#if canInteractWithChat}}
                  {{#unless site.mobileView}}
                    {{d-button
                      class="chat-message-react-btn"
                      action=(action "startReactionForReactionList")
                      icon="discourse-emojis"
                      title="chat.react"
                    }}
                  {{/unless}}
                {{/if}}
              </div>
            {{/if}}
          {{/chat-message-text}}

          {{#if message.error}}
            <div class="chat-send-error">
              {{#if (eq message.error "network_error")}}
                <DButton
                  class="retry-staged-message-btn"
                  @action={{fn this.resendStagedMessage message}}
                >
                  {{d-icon "exclamation-circle"}}
                  <span class="retry-staged-message-btn__title">
                    {{i18n "chat.retry_staged_message.title"}}
                  </span>
                  <span class="retry-staged-message-btn__action">
                    {{i18n "chat.retry_staged_message.action"}}
                  </span>
                </DButton>
              {{else}}
                {{message.error}}
              {{/if}}
            </div>
          {{/if}}

          {{#if message.mentionWarning}}
            <div class="alert alert-info chat-message-mention-warning">
              {{#if message.mentionWarning.invitationSent}}
                {{d-icon "check"}}
                <span>
                  {{i18n
                    "chat.mention_warning.invitations_sent"
                    count=message.mentionWarning.without_membership.length
                  }}
                </span>
              {{else}}
                {{flat-button
                  class="dismiss-mention-warning"
                  title="chat.mention_warning.dismiss"
                  action=(action "dismissMentionWarning")
                  icon="times"
                }}

                {{#if message.mentionWarning.cannot_see}}
                  <p class="cannot-see">{{mentionedCannotSeeText}}</p>
                {{/if}}

                {{#if message.mentionWarning.without_membership}}
                  <p class="without-membership">
                    <span>{{mentionedWithoutMembershipText}}</span>
                    <a
                      class="invite-link"
                      href
                      onclick={{action "inviteMentioned"}}
                    >
                      {{i18n "chat.mention_warning.invite"}}
                    </a>
                  </p>
                {{/if}}
              {{/if}}
            </div>
          {{/if}}
        </div>
      </div>
    {{/if}}
  {{/if}}
</div>
