<span class="chat-channel-title">
  {{#if (eq channel.chatable_type "Category")}}
    {{category-badge channel.chatable hideParent=true}}
  {{else if (eq channel.chatable_type "Topic")}}
    <span class="topic-chat-icon">{{d-icon "far-comments"}}</span>
    <p class="chat-name">{{replace-emoji channel.chatable.fancy_title}}</p>
  {{else}}
    {{d-icon "lock"}}
    <p class="chat-name">{{i18n "chat.channels.staff"}}</p>
  {{/if}}
</span>
