<div
  id="chat-channel-row-{{channel.id}}"
  class="{{rowClassNames}} {{if isUnfollowing "unfollowing"}}"
  {{on "click" (fn this.handleSwitchChannel)}}
  {{on "mousedown" (fn this.handleNewWindow)}}
  role="button"
>
  {{chat-channel-title channel=channel}}
  {{chat-channel-unread-indicator channel=channel}}

  {{#if options.leaveButton}}
    {{chat-channel-leave-btn
      channel=channel
      onLeaveChannel=(action "onLeaveChannel")
    }}
  {{/if}}
</div>
