<div class="chat-message-info">
  {{#if @message.chat_webhook_event}}
    {{#if @message.chat_webhook_event.username}}
      <span class="chat-message-info__username {{this.usernameClasses}}">
        {{@message.chat_webhook_event.username}}
      </span>
    {{/if}}

    <span class="chat-message-info__bot-indicator">
      {{i18n "chat.bot"}}
    </span>
  {{else}}
    <span
      role="button"
      class="chat-message-info__username {{this.usernameClasses}} clickable"
      data-user-card={{@message.user.username}}
    >
      <span class="chat-message-info__username__name">{{this.name}}</span>
    </span>
  {{/if}}

  <span class="chat-message-info__date">
    {{format-chat-date @message @details}}
  </span>

  {{#if message.bookmark}}
    <span class="chat-message-info__bookmark">
      {{#if message.bookmark.reminder_at}}
        {{d-icon "discourse-bookmark-clock" translatedtitle=message.bookmark.name}}
      {{else}}
        {{d-icon "bookmark" translatedtitle=message.bookmark.name}}
      {{/if}}
    </span>
  {{/if}}

  {{#if this.isFlagged}}
    <span class="chat-message-info__flag">
      {{#if @message.reviewable_id}}
        {{#link-to "review.show" @message.reviewable_id}}
          {{d-icon "flag" title="chat.flagged"}}
        {{/link-to}}
      {{else}}
        {{d-icon "flag" title="chat.you_flagged"}}
      {{/if}}
    </span>
  {{/if}}
</div>
