{{#if replyToMsg}}
  {{chat-composer-message-details
    message=replyToMsg
    icon="reply"
    action=(action "cancelReplyTo")
    title="chat.cancel_reply"
  }}
{{/if}}
{{#if editingMessage}}
  {{chat-composer-message-details
    message=editingMessage
    icon="pencil-alt"
    action=(action "cancelEditing")
    title="chat.reply_edit"
  }}
{{/if}}

<div role="region" aria-label={{i18n "chat.aria_roles.composer"}} class={{composerRowClasses}}>
  {{#if showToolbar}}
    <div class="chat-composer-toolbar">
      {{#each toolbarButtons as |toolbarButton|}}
        {{flat-button
          action=(action toolbarButton.action)
          class=toolbarButton.class
          id=toolbarButton.id
          icon=toolbarButton.icon
          title=toolbarButton.title
        }}
      {{/each}}
    </div>
  {{/if}}

  {{d-textarea
    value=(readonly value)
    input=(action "onTextareaInput" value="target.value")
    type="text"
    class="chat-composer-input"
    disabled=disableComposer
    autocorrect="on"
    autocapitalize="sentences"
    placeholder=placeholder
    rows=1
  }}

  {{#if this.toolbarButtons.length}}
    {{flat-button
      disabled=disableComposer
      action=(action "toggleToolbar")
      class="open-toolbar-btn"
      title="chat.composer.toggle_toolbar"
      icon=(if showToolbar "minus" "plus")
    }}
  {{/if}}

  {{emoji-picker
    isActive=emojiPickerIsActive
    isEditorFocused=isEditorFocused
    emojiSelected=(action "onEmojiSelected")
    onEmojiPickerClose=(action (mut emojiPickerIsActive) false)
  }}

  {{#if site.mobileView}}
    {{flat-button
      action=(action "sendClicked")
      class="mobile-send-btn"
      icon="paper-plane"
      disabled=sendDisabled
      title=sendTitle
    }}
  {{/if}}
</div>

{{chat-composer-uploads
  allowUploads=canAttachUploads
  fileUploadElementId=fileUploadElementId
  onUploadChanged=(action "uploadChanged")
}}
