{{#if replyToMsg}}
  {{chat-composer-message-details
    message=replyToMsg
    icon="reply"
    action=(action "cancelReplyTo")
    title="chat.cancel_reply"
  }}
{{/if}}
{{#if editingMessage}}
  {{chat-composer-message-details
    message=editingMessage
    icon="pencil-alt"
    action=(action "reset")
    title="chat.reply_edit"
  }}
{{/if}}

<div class="tc-composer-row">
  {{#if showToolbar}}
    <div class="chat-composer-toolbar">
      {{#each toolbarButtons as |toolbarButton|}}
        {{flat-button
          action=(action toolbarButton.action)
          class=toolbarButton.class
          id=toolbarButton.id
          icon=toolbarButton.icon
          title=toolbarButton.title
        }}
      {{/each}}
    </div>
  {{/if}}

  {{d-textarea
    value=(readonly value)
    input=(action "onTextareaInput" value="target.value")
    type="text"
    class="tc-composer-input"
    disabled=inputDisabled
    autocorrect="on"
    autocapitalize="off"
    placeholder=placeholder
    rows=1
  }}

  {{flat-button
    action=(action "toggleToolbar")
    class="open-toolbar-btn"
    title="chat.composer.toggle_toolbar"
    icon=(if showToolbar "minus" "plus")
  }}

  {{emoji-picker
    isActive=emojiPickerIsActive
    isEditorFocused=isEditorFocused
    emojiSelected=(action "onEmojiSelected")
    onEmojiPickerClose=(action (mut emojiPickerIsActive) false)
  }}

  {{#if site.mobileView}}
    {{flat-button
      action=(action "sendClicked")
      class="mobile-send-btn"
      icon="play"
      disabled=sendDisabled
      title=sendTitle
      }}
  {{/if}}
</div>

<div class="chat-composer-uploads-container">
  {{#each uploads as |upload|}}
    {{chat-composer-upload
      upload=upload
      done=true
      cancel=(action "removeUpload" upload)
      fileName=upload.original_filename
    }}
  {{/each}}

  {{#each inProgressUploads as |upload|}}
    {{chat-composer-upload
      upload=upload
      cancel=(action "cancelUploading" upload)
      fileName=upload.fileName
    }}
  {{/each}}
</div>
<input type="file" id={{fileUploadElementId}} accept={{acceptedFormats}} multiple>
