{{#if fullPage}}
  <div class="tc-full-page-header">
    {{#if site.mobileView}}
      {{d-button
        class="btn-flat"
        icon="chevron-left"
        action=onBackClick
      }}
    {{/if}}
    {{chat-channel-title channel=chatChannel}}
  </div>
{{/if}}

<div class="tc-messages-scroll tc-messages-container">
  {{#if allPastMessagesLoaded}}
    <div class="all-loaded-message">
      {{i18n "chat.all_loaded"}}
    </div>
  {{/if}}
  {{conditional-loading-spinner condition=this.loadingMore}}
  {{#conditional-loading-spinner condition=this.loading}}
    {{#each this.messages as |message|}}
      {{tc-message
        message=message
        details=this.details
        setReplyTo=(action "setReplyTo")
        replyMessageClicked=(action "replyMessageClicked")
        editButtonClicked=(action "editButtonClicked")
        afterExpand=(action "resolveURLs")
      }}
    {{/each}}
  {{/conditional-loading-spinner}}
</div>

<div class="scroll-stick-wrap">
  <div class="scroll-stick-wrap2">
    <a href title={{i18n "chat.scroll_to_bottom"}} class="btn btn-flat chat-scroll-to-bottom {{if this.stickyScroll "hidden"}}" {{on "click" (action "restickScrolling")}}>
      {{d-icon "arrow-down"}}
    </a>
  </div>
</div>

{{#if expanded}}
  {{chat-composer
    sendMessage=(action "sendMessage")
    editMessage=(action "editMessage")
    setReplyTo=(action "setReplyTo")
    loading=sendingloading
    canChat=this.details.can_chat
    replyToMsg=this.replyToMsg
    editingMessage=(readonly this.editingMessage)
    onCancelEditing=this.cancelEditing
    onEditLastMessageRequested=this.editLastMessageRequested
    onValueChange=(action "onComposerValueChange")
  }}
{{/if}}

