<div class="tc-messages-scroll tc-messages-container">
  {{#conditional-loading-spinner condition=this.loading}}
    {{#each this.messages as |message|}}
      {{mount-widget widget="tc-message" args=message}}
    {{/each}}
  {{/conditional-loading-spinner}}
</div>
<div class="scroll-stick-wrap">
<div class="scroll-stick-wrap2">
<a class="btn btn-flat scroll-stick-warning {{if this.stickyScroll "hidden"}}" {{on "click" (action "restickScrolling")}}>{{i18n "chat.scroll_stick"}}</a>
</div></div>
{{chat-composer sendChat=(action "sendChat") loading=sendingloading}}
