<div
  id="chat-channel-row-{{channel.id}}"
  class="{{rowClassNames}}"
  {{on "click" this.handleClick}}
  {{on "keyup" this.handleKeyUp}}
  {{on "mouseup" this.handleNewWindow}}
  role="button"
  tabindex="0"
  data-chat-channel-id={{channel.id}}
>
  {{chat-channel-title channel=channel unreadIndicator=true}}

  {{#if this.showUserStatus}}
    {{emoji
      channel.chatable.users.firstObject.status.emoji
      title=channel.chatable.users.firstObject.status.description
    }}
  {{/if}}

  {{#if (and options.leaveButton channel.following (not site.mobileView))}}
    <ToggleChannelMembershipButton
      @channel={{channel}}
      @options={{hash
        leaveClass="btn-flat chat-channel-leave-btn"
        labelType="none"
        leaveIcon="times"
        leaveTitle=this.leaveChatTitle
      }}
    />
  {{/if}}
</div>
