{{#if isCollapsible}}
  {{chat-message-collapser cooked=cooked uploads=uploads message=message}}
{{else}}
  {{html-safe cooked}}
{{/if}}

{{#if edited}}
  <div class="chat-message-edited">
    {{i18n "chat.edited"}}
  </div>
{{/if}}

{{yield}}
