<div class={{classes}}>
  {{#if (eq channel.chatable_type "Category")}}
    {{#if channel.chat_channels}}
      <span class="chat-channel-toggle-expand" onclick={{action "toggleExpand"}}>
        {{#if expanded}}
          {{d-icon "chevron-up"}}
        {{else}}
          {{d-icon "chevron-right"}}
        {{/if}}
      </span>
    {{/if}}
  {{/if}}
  {{chat-channel-title channel=channel}}
</div>

{{#if expanded}}
  {{#each channel.chat_channels as |nested_channel|}}
    {{chat-channel-row channel=nested_channel switchChannel=switchChannel nested=true}}
  {{/each}}
{{/if}}
