{{#if fullPage}}
  <div class="tc-full-page-header {{if previewing "previewing"}}">
    {{#if site.mobileView}}
      {{d-button
        class="btn-flat"
        icon="chevron-left"
        action=onBackClick
      }}
    {{/if}}

    {{chat-channel-title onClick=(action "onChannelTitleClick") channel=chatChannel}}

    {{#if previewing}}
      {{d-button
        class="btn-primary join-channel-btn"
        action=joinChannel
        label="chat.join_channel"
      }}
    {{/if}}
    {{#unless currentUser.chat_isolated}}
      {{d-button
        action=(action "exitChat")
        class="btn-flat exit-chat-btn"
        icon="times"
        title="chat.exit"
      }}
    {{/unless}}
  </div>
{{/if}}

<div class="tc-messages-scroll tc-messages-container">
  {{#conditional-loading-spinner condition=this.loading}}
    {{#each this.messages as |message|}}
      {{tc-message
        message=message
        details=this.details
        setReplyTo=(action "setReplyTo")
        replyMessageClicked=(action "replyMessageClicked")
        editButtonClicked=(action "editButtonClicked")
        afterExpand=(action "decorateMessages")
        selectingMessages=selectingMessages
        onStartSelectingMessages=onStartSelectingMessages
        onSelectMessage=onSelectMessage
        bulkSelectMessages=bulkSelectMessages
        fullPage=fullPage
        afterReactionAdded=(action "reStickScrollIfNeeded")
      }}
    {{/each}}
  {{/conditional-loading-spinner}}
  {{#if allPastMessagesLoaded}}
    <div class="all-loaded-message">
      {{i18n "chat.all_loaded"}}
    </div>
  {{/if}}
  {{conditional-loading-spinner condition=this.loadingMore}}
</div>

<div class="scroll-stick-wrap">
  <a
    href
    title={{i18n "chat.scroll_to_bottom"}}
    class="btn btn-flat chat-scroll-to-bottom {{if this.stickyScroll "hidden"}}"
    {{on "click" (action "restickScrolling")}}
  >
    {{d-icon "arrow-down"}}
  </a>
</div>

{{#if expanded}}
  {{#if selectingMessages}}
    <div class="chat-selection-management-buttons">
      {{d-button
        id="chat-move-to-topic-btn"
        class="btn-primary"
        label="chat.selection.move_to_topic"
        title="chat.selection.move_to_topic"
        disabled=moveToTopicDisabled
        action=(action "moveMessagesToTopic")
      }}
      {{d-button
        class="btn-secondary cancel-btn"
        label="chat.selection.cancel"
        title="chat.selection.cancel"
        action=(action "cancelSelecting")
      }}
    </div>
  {{else}}
    {{chat-composer
      draft=draft
      sendMessage=(action "sendMessage")
      editMessage=(action "editMessage")
      setReplyTo=(action "setReplyTo")
      loading=sendingloading
      editingMessage=(readonly this.editingMessage)
      onCancelEditing=this.cancelEditing
      onDraftWithReplyLoaded=this.draftWithReplyLoaded
      onEditLastMessageRequested=this.editLastMessageRequested
      onValueChange=(action "composerValueChanged")
      previewing=previewing
      fullPage=fullPage
      chatChannel=chatChannel
    }}
  {{/if}}

  {{chat-replying-indicator chatChannelId=chatChannel.id}}
{{/if}}
