{{#if (eq channel.chatable_type "DirectMessageChannel")}}
  {{#if multiDm}}
    <span class="dm-multi-count">
      {{channel.chatable.users.length}}
    </span>
    <span class="dm-usernames">{{usernames}}</span>
  {{else}}
    <span class="tc-avatar-container">
      {{avatar channel.chatable.users.firstObject imageSize="medium"}}
      {{tc-user-presence-flair user=channel.chatable.users.firstObject}}
    </span>
    <span class="dm-usernames">{{channel.chatable.users.firstObject.username}}</span>
  {{/if}}
{{else if (eq channel.chatable_type "Tag")}}
  <span class="tag-chat-badge">
    {{d-icon "tag"}}
  </span>
  <span class="tag-chat-name">{{channel.title}}</span>
{{else if (eq channel.chatable_type "Category")}}
  <span class="category-chat-badge" style={{html-safe (concat "color: #" channel.chatable.color)}}>
    {{d-icon "hashtag"}}
    {{#if channel.chatable.read_restricted}}
      <span class="category-chat-private">
        {{d-icon "lock"}}
      </span>
    {{/if}}
  </span>
  <span class="category-chat-name">
    {{replace-emoji channel.title}}
  </span>
{{else if (eq channel.chatable_type "Topic")}}
  <span class="topic-chat-badge">
    <span class="topic-chat-icon">{{d-icon "far-comments"}}</span>
  </span>
  <p class="topic-chat-name">{{replace-emoji channel.chatable.title}}</p>
{{/if}}
