{{#if replyToMsg}}
  {{chat-composer-message-details
    message=replyToMsg
    icon="reply"
    action=(action "cancelReplyTo")
  }}
{{/if}}

{{#if editingMessage}}
  {{chat-composer-message-details
    message=editingMessage
    icon="pencil-alt"
    action=(action "cancelEditing")
  }}
{{/if}}

{{emoji-picker
  isActive=emojiPickerIsActive
  isEditorFocused=isEditorFocused
  emojiSelected=(action "onEmojiSelected")
  onEmojiPickerClose=(action (mut emojiPickerIsActive) false)
}}

<div
  role="region"
  aria-label={{i18n "chat.aria_roles.composer"}}
  class="chat-composer {{if disableComposer "is-disabled"}}"
>
  {{#unless disableComposer}}
    {{chat-composer-dropdown
      buttons=dropdownButtons
      isDisabled=disableComposer
    }}
  {{/unless}}

  {{d-textarea
    value=(readonly value)
    input=(action "onTextareaInput" value="target.value")
    type="text"
    class="chat-composer-input"
    disabled=disableComposer
    autocorrect="on"
    autocapitalize="sentences"
    placeholder=placeholder
    focus-in=(action "onTextareaFocusin" value="target")
    rows=1
  }}

  {{flat-button
    action=(action "sendClicked")
    icon="paper-plane"
    class="icon-only send-btn chat-composer-inline-button"
    title=sendTitle
    disabled=sendDisabled
  }}

  {{#unless disableComposer}}
    {{chat-composer-inline-buttons buttons=inlineButtons}}
  {{/unless}}
</div>

{{#if canAttachUploads}}
  {{chat-composer-uploads
    fullPage=fullPage
    fileUploadElementId=fileUploadElementId
    onUploadChanged=(action "uploadsChanged")
  }}
{{/if}}

{{#unless chatChannel.isDraft}}
  <div class="chat-replying-indicator-container">
    {{chat-replying-indicator chatChannel=chatChannel}}
  </div>
{{/unless}}
