{{#if isYoutubeCollapsible}}
  {{chat-message-collapser cooked=cooked}}
{{else if isImageCollapsible}}
  {{chat-message-collapser cooked=cooked uploads=uploads}}
{{else}}
  {{html-safe cooked}}
{{/if}}

{{#if edited}}
  <div class="tc-message-edited">
    {{i18n "chat.edited"}}
  </div>
{{/if}}

{{yield}}
