<div class="tc-messages-scroll tc-messages-container">
  {{#conditional-loading-spinner condition=this.loading}}
    {{#each this.messages as |message|}}
      {{tc-message
        message=message
        details=this.details
        setReplyTo=(action "setReplyTo")
        editButtonClicked=(action "editButtonClicked")
      }}
    {{/each}}
  {{/conditional-loading-spinner}}
</div>

<div class="scroll-stick-wrap">
  <div class="scroll-stick-wrap2">
    <a href title={{i18n "chat.scroll_to_bottom"}} class="btn btn-flat chat-scroll-to-bottom {{if this.stickyScroll "hidden"}}" {{on "click" (action "restickScrolling")}}>
      {{d-icon "arrow-down"}}
    </a>
  </div>
</div>

{{#if expanded}}
  {{chat-composer
    sendMessage=(action "sendMessage")
    editMessage=(action "editMessage")
    onChangeHeight=(action "composerHeightChange")
    setReplyTo=(action "setReplyTo")
    loading=sendingloading
    canChat=this.details.can_chat
    replyToMsg=this.replyToMsg
    editingMessage=this.editingMessage
    onCancelEditing=this.cancelEditing
  }}
{{/if}}

