<span class="chat-channel-title">
  {{#if (eq channel.chatable_type "Category")}}
    {{category-badge channel.chatable allowUncategorized="true"}}
  {{else if (eq channel.chatable_type "Topic")}}
    {{replace-emoji channel.chatable.fancy_title}}
  {{else}}
    {{i18n "chat.channels.staff"}}
  {{/if}}
</span>
