{{#if (and fullPage includeHeader)}}
  <div class="chat-full-page-header {{if previewing 'previewing'}}">
    <div class="chat-channel-header-details">
      {{#if site.mobileView}}
        <div class="chat-full-page-header__left-actions">
          {{d-button class="btn-flat" icon="chevron-left" action=onBackClick}}
        </div>
      {{/if}}

      {{#link-to
        infoTabRoute
        chatChannel.id
        (slugify-channel chatChannel.title)
        class="chat-full-page-header__title"
      }}
        {{chat-channel-title channel=chatChannel}}

        {{#if displayMembers}}
          <span class="chat-channel-member-count">
            {{i18n
              "chat.channel.memberships_count"
              count=chatChannel.memberships_count
            }}
          </span>
        {{/if}}
      {{/link-to}}

      {{#if showCloseFullScreenBtn}}
        <div class="chat-full-page-header__right-actions">
          {{flat-button
            class="chat-full-screen-button"
            icon="discourse-compress"
            action=(action "onCloseFullScreen" chatChannel)
            title="chat.close_full_page"
          }}
        </div>
      {{/if}}
    </div>

    {{chat-channel-status channel=chatChannel}}
  </div>
{{/if}}

{{chat-retention-reminder chatChannel=chatChannel}}

<div class="chat-messages-scroll chat-messages-container">
  {{#conditional-loading-spinner condition=this.loading}}
    {{conditional-loading-spinner condition=this.loadingMoreFuture}}

    {{#each this.messages as |message|}}
      {{chat-message
        message=message
        canInteractWithChat=canInteractWithChat
        details=this.details
        chatChannel=chatChannel
        setReplyTo=(action "setReplyTo")
        replyMessageClicked=(action "replyMessageClicked")
        editButtonClicked=(action "editButtonClicked")
        selectingMessages=selectingMessages
        onStartSelectingMessages=onStartSelectingMessages
        onSelectMessage=onSelectMessage
        bulkSelectMessages=bulkSelectMessages
        fullPage=fullPage
        afterReactionAdded=(action "reStickScrollIfNeeded")
        isHovered=(eq message.id hoveredMessageId)
        onHoverMessage=(action "onHoverMessage")
        previewing=previewing
        onSwitchChannel=onSwitchChannel
      }}
    {{/each}}

    {{conditional-loading-spinner condition=this.loadingMorePast}}
  {{/conditional-loading-spinner}}

  {{#if allPastMessagesLoaded}}
    <div class="all-loaded-message">
      {{i18n "chat.all_loaded"}}
    </div>
  {{/if}}
</div>

{{#if showScrollToBottomBtn}}
  <div class="scroll-stick-wrap">
    <a
      href
      title={{i18n "chat.scroll_to_bottom"}}
      class="btn btn-flat chat-scroll-to-bottom"
      {{on "click" (action "restickScrolling")}}
    >
      {{d-icon "arrow-down"}}
    </a>
  </div>
{{/if}}

{{#if expanded}}
  {{#if selectingMessages}}
    {{chat-selection-manager
      selectedMessageIds=selectedMessageIds
      chatChannel=chatChannel
      canModerate=details.can_moderate
      cancelSelecting=(action "cancelSelecting")
    }}
  {{else}}
    {{#if previewing}}
      {{chat-channel-preview-card channel=chatChannel}}
    {{else}}
      {{chat-composer
        draft=draft
        details=this.details
        canInteractWithChat=canInteractWithChat
        sendMessage=(action "sendMessage")
        editMessage=(action "editMessage")
        setReplyTo=(action "setReplyTo")
        loading=sendingloading
        editingMessage=(readonly this.editingMessage)
        onCancelEditing=this.cancelEditing
        setInReplyToMsg=this.setInReplyToMsg
        onEditLastMessageRequested=this.editLastMessageRequested
        onValueChange=(action "composerValueChanged")
        fullPage=fullPage
        chatChannel=chatChannel
      }}
    {{/if}}
  {{/if}}
{{/if}}
