{{d-progress-bar
  key="chat-live-pane-loader"
  isLoading=(or this.loadingMorePast this.loadingMoreFuture this.loading)
}}

{{#if (and fullPage includeHeader)}}
  <div
    class="chat-full-page-header
      {{unless chatChannel.isFollowing "-not-following"}}"
  >
    <div class="chat-channel-header-details">
      {{#if site.mobileView}}
        <div class="chat-full-page-header__left-actions">
          {{d-button class="btn-flat" icon="chevron-left" action=onBackClick}}
        </div>
      {{/if}}

      {{#link-to
        infoTabRoute
        chatChannel.id
        (slugify-channel chatChannel.title)
        class="chat-full-page-header__title"
      }}
        {{chat-channel-title channel=chatChannel}}
      {{/link-to}}

      {{#if showCloseFullScreenBtn}}
        <div class="chat-full-page-header__right-actions">
          {{flat-button
            class="chat-full-screen-button"
            icon="discourse-compress"
            action=(action "onCloseFullScreen" chatChannel)
            title="chat.close_full_page"
          }}
        </div>
      {{/if}}
    </div>

    {{chat-channel-status channel=chatChannel}}
  </div>
{{/if}}

{{chat-retention-reminder chatChannel=chatChannel}}

<div class="chat-messages-scroll chat-messages-container">
  <div class="chat-messages-container">
    {{#each this.messages as |message|}}
      {{chat-message
        message=message
        canInteractWithChat=canInteractWithChat
        details=this.details
        chatChannel=chatChannel
        setReplyTo=(action "setReplyTo")
        replyMessageClicked=(action "replyMessageClicked")
        editButtonClicked=(action "editButtonClicked")
        selectingMessages=selectingMessages
        onStartSelectingMessages=onStartSelectingMessages
        onSelectMessage=onSelectMessage
        bulkSelectMessages=bulkSelectMessages
        fullPage=fullPage
        afterReactionAdded=(action "reStickScrollIfNeeded")
        isHovered=(eq message.id hoveredMessageId)
        onHoverMessage=(action "onHoverMessage")
        onSwitchChannel=onSwitchChannel
        resendStagedMessage=this.resendStagedMessage
      }}
    {{/each}}
  </div>

  {{#if allPastMessagesLoaded}}
    <div class="all-loaded-message">
      {{i18n "chat.all_loaded"}}
    </div>
  {{/if}}
</div>

{{#if showScrollToBottomBtn}}
  <div class="scroll-stick-wrap">
    <a
      href
      title={{i18n "chat.scroll_to_bottom"}}
      class={{concat-class
        "btn"
        "btn-flat"
        "chat-scroll-to-bottom"
        (if hasNewMessages "unread-messages")
      }}
      {{on "click" (action "restickScrolling")}}
    >
      {{#if hasNewMessages}}
        {{i18n "chat.scroll_to_new_messages"}}
      {{/if}}
      {{d-icon "arrow-down"}}
    </a>
  </div>
{{/if}}

{{#if expanded}}
  {{#if selectingMessages}}
    {{chat-selection-manager
      selectedMessageIds=selectedMessageIds
      chatChannel=chatChannel
      canModerate=details.can_moderate
      cancelSelecting=(action "cancelSelecting")
    }}
  {{else}}
    {{#if (or chatChannel.isDraft chatChannel.isFollowing)}}
      {{chat-composer
        draft=draft
        details=this.details
        canInteractWithChat=canInteractWithChat
        sendMessage=(action "sendMessage")
        editMessage=(action "editMessage")
        setReplyTo=(action "setReplyTo")
        loading=sendingLoading
        editingMessage=(readonly this.editingMessage)
        onCancelEditing=this.cancelEditing
        setInReplyToMsg=this.setInReplyToMsg
        onEditLastMessageRequested=this.editLastMessageRequested
        onValueChange=(action "composerValueChanged")
        fullPage=fullPage
        chatChannel=chatChannel
      }}
    {{else}}
      {{chat-channel-preview-card channel=chatChannel}}
    {{/if}}
  {{/if}}
{{/if}}
