<div class="tc-composer-message-details">
  <div class="tc-reply-display">
    {{d-icon icon}}
    <span class="tc-reply-av">{{avatar message.user imageSize="tiny"}}</span>
    <span class="tc-reply-username">{{message.user.username}}</span>
    <span class="tc-reply-msg">{{replace-emoji message.excerpt}}</span>
  </div>

  {{flat-button
    action=action
    class="cancel-message-action"
    icon="times-circle"
    title=title
  }}
</div>
