{{chat-message-separator message=message}}

<div class={{messageContainerClasses}}>
  {{emoji-picker
    isActive=emojiPickerIsActive
    isEditorFocused=true
    usePopper=false
    emojiSelected=(action "selectReaction")
    onEmojiPickerClose=(action (mut emojiPickerIsActive) false)
  }}
  {{#if show}}
    {{#if selectingMessages}}
      {{input
        type="checkbox"
        class="chat-message-selector"
        checked=message.selected
        click=(action "toggleChecked")
      }}
    {{/if}}
    {{#if deletedAndCollapsed}}
      <div class="chat-message-deleted">
        {{d-button
          class="btn-flat chat-message-expand-deleted"
          action=(action "expand")
          label="chat.deleted"
        }}
      </div>
    {{else}}
      <div class={{chatMessageClasses}}>
        {{#unless message.staged}}
          <div class="chat-msgactions-hover">
            <div class="chat-msgactions">
              {{#each favoritesEmojis as |favorite|}}
                {{chat-message-reaction
                  emoji=favorite.emoji
                  reacted=favorite.reacted
                  react=(action "react")
                  class="show"
                }}
              {{/each}}
              {{d-button
                class="btn-flat react-btn"
                action=(action "startReactionForMsgActions")
                icon="discourse-emojis"
                title="chat.react"
              }}
              {{#unless message.deleted_at}}
                {{d-button
                  class="btn-flat reply-btn"
                  action=(action "reply")
                  icon="reply"
                  title="chat.reply"
                }}
              {{/unless}}
              {{#if moreButtons.length}}
                {{dropdown-select-box
                  class="more-buttons"
                  options=(hash icon="ellipsis-h")
                  content=moreButtons
                  onChange=(action "handleMoreButtons")
                }}
              {{/if}}
            </div>
          </div>
        {{/unless}}

        {{#if message.in_reply_to}}
          <div role="button" onclick={{action "viewReply"}} class="tc-reply-display">
            {{d-icon "share" title="chat.in_reply_to"}}
            {{#if message.in_reply_to.chat_webhook_event.emoji}}
              {{chat-emoji-avatar emoji=message.in_reply_to.chat_webhook_event.emoji}}
            {{else}}
              {{chat-user-avatar user=message.in_reply_to.user}}
            {{/if}}
            <span class="tc-reply-msg">
              {{replace-emoji message.in_reply_to.excerpt}}
            </span>
          </div>
        {{/if}}

        {{#if hideUserInfo}}
          {{format-chat-date message details "tiny"}}
        {{else}}
          {{#if message.chat_webhook_event.emoji}}
            {{chat-emoji-avatar emoji=message.chat_webhook_event.emoji}}
          {{else}}
            {{chat-user-avatar user=message.user avatarSize="medium"}}
          {{/if}}
        {{/if}}

        <div class="chat-message-content">
          {{#unless hideUserInfo}}
            <div class="chat-message-sender-data">
              <span class={{usernameClasses}}>
                {{#if message.chat_webhook_event.username}}
                  {{message.chat_webhook_event.username}}
                {{else}}
                  {{name}}
                {{/if}}
              </span>

              {{#if message.chat_webhook_event}}
                <span class="tc-bot-indicator">{{i18n "chat.bot"}}</span>
              {{/if}}

              {{format-chat-date message details}}
            </div>
          {{/unless}}

          {{#if message.action_code}}
            <span class="chat-action-text">
              {{html-safe actionCodeText}}
            </span>
          {{else}}
            {{#chat-message-text
              cooked=message.cooked
              uploads=message.uploads
              edited=message.edited
              message=message.message
            }}
              {{#if hasReactions}}
                <div class="chat-message-reaction-list">
                  {{#if reactionLabel}}
                    <div class="reaction-users-list">
                      {{replace-emoji reactionLabel}}
                    </div>
                  {{/if}}
                  {{#each-in message.reactions as |emoji reactionAttrs|}}
                    {{chat-message-reaction
                      emoji=emoji
                      count=reactionAttrs.count
                      users=reactionAttrs.users
                      reacted=reactionAttrs.reacted
                      react=(action "react")
                      showUsersList=(action "showUsersList")
                      hideUsersList=(action "hideUsersList")
                    }}
                  {{/each-in}}
                  {{d-button
                    class="chat-message-react-btn"
                    action=(action "startReactionForReactionList")
                    icon="discourse-emojis"
                    title="chat.react"
                  }}
                </div>
              {{/if}}
            {{/chat-message-text}}
          {{/if}}

          {{#if message.error}}
            <div class="chat-send-error">
              {{i18n "chat.send_error"}}
            </div>
          {{/if}}

          {{#if message.mentionWarning}}
            <div class="alert alert-info chat-message-mention-warning">
              {{#if message.mentionWarning.invitationSent}}
                {{d-icon "check"}}
                <span>
                  {{i18n "chat.mention_warning.invitations_sent" count=message.mentionWarning.without_membership.length}}
                </span>
              {{else}}
                {{flat-button
                  class="dismiss-mention-warning"
                  title="chat.mention_warning.dismiss"
                  action=(action "dismissMentionWarning")
                  icon="times"
                }}

                {{#if message.mentionWarning.cannot_see}}
                  <p class="cannot-see">{{mentionedCannotSeeText}}</p>
                {{/if}}

                {{#if message.mentionWarning.without_membership}}
                  <p class="without-membership">
                    <span>{{mentionedWithoutMembershipText}}</span>
                    <a class="invite-link" href onclick={{action "inviteMentioned"}}>
                      {{i18n "chat.mention_warning.invite"}}
                    </a>
                  </p>
                {{/if}}
              {{/if}}
            </div>
          {{/if}}

        </div>
      </div>
    {{/if}}
  {{/if}}
</div>
