{{#if replyToMsg}}
  {{chat-composer-message-details
    message=replyToMsg
    icon="reply"
    action=(action "cancelReplyTo")
    title="chat.cancel_reply"
  }}
{{/if}}
{{#if editingMessage}}
  {{chat-composer-message-details
    message=editingMessage
    icon="pencil-alt"
    action=(action "cancelEditing")
    title="chat.reply_edit"
  }}
{{/if}}

<div class="tc-composer-row">
  {{#if showToolbar}}
    <div class="chat-composer-toolbar">
      {{#each toolbarButtons as |toolbarButton|}}
        {{flat-button
          action=(action toolbarButton.action)
          class=toolbarButton.class
          id=toolbarButton.id
          icon=toolbarButton.icon
          title=toolbarButton.title
        }}
      {{/each}}
    </div>
  {{/if}}

  {{d-textarea
    value=(readonly value)
    input=(action "onTextareaInput" value="target.value")
    type="text"
    class="tc-composer-input"
    disabled=inputDisabled
    autocorrect="on"
    autocapitalize="off"
    placeholder=placeholder
    rows=1
  }}

  {{flat-button
    action=(action "toggleToolbar")
    class="open-toolbar-btn"
    title="chat.composer.toggle_toolbar"
    icon=(if showToolbar "minus" "plus")
  }}

  {{emoji-picker
    isActive=emojiPickerIsActive
    isEditorFocused=isEditorFocused
    emojiSelected=(action "onEmojiSelected")
    onEmojiPickerClose=(action (mut emojiPickerIsActive) false)
  }}

  {{#if site.mobileView}}
    {{flat-button
      action=(action "sendClicked")
      class="mobile-send-btn"
      icon="play"
      disabled=sendDisabled
      title=sendTitle
    }}
  {{/if}}
</div>

<div class="tc-composer-uploads-container">
  {{#each inProgressUploads as |upload|}}
    <span class="tc-composer-in-progress-upload">
      {{upload.fileName}}
      {{upload.progress}}
    </span>
  {{/each}}

  {{#each uploads as |upload|}}
    <span class="tc-composer-completed-upload">
      {{upload.original_filename}}
    </span>
  {{/each}}

  <span class="btn uploading-indicator {{unless isUploading "hidden"}}">{{i18n "upload_selector.uploading"}} {{uploadProgress}}%</span>
  <span class="btn uploading-indicator {{unless isProcessingUpload "hidden"}}">{{i18n "upload_selector.processing"}}</span>
  <span role="button" onClick={{action "cancelUploads"}} class="btn btn-danger cancel-btn {{unless showCancelBtn "hidden"}}">{{i18n "cancel"}}</span>
</div>
<input type="file" id={{fileUploadElementId}} accept={{acceptedFormats}} multiple>
