{{#if showUploadsContainer}}
  <div class="chat-composer-uploads-container">
    {{#each uploads as |upload|}}
      {{chat-composer-upload
        upload=upload
        isDone=true
        onCancel=(action "removeUpload" upload)
      }}
    {{/each}}

    {{#each inProgressUploads as |upload|}}
      {{chat-composer-upload
        upload=upload
        onCancel=(action "cancelUploading" upload)
      }}
    {{/each}}
  </div>
{{/if}}

{{pick-files-button allowMultiple=true fileInputId=fileUploadElementId fileInputClass="hidden-upload-field"}}

<div class="drop-a-file">
  <div class="drop-a-file-content">
    <div class="drop-a-file-content-images">
      {{d-icon "file-audio"}}
      {{d-icon "file-video"}}
      {{d-icon "file-image"}}
    </div>
    <p class="drop-a-file-content-text">{{d-icon "upload"}} Drop a file to upload it.</p>
  </div>
</div>
