<div class="chat-draft-channel-screen">
  <DirectMessageCreator @onChangeSelectedUsers={{action "onChangeSelectedUsers"}} />

  {{#if this.previewedChannel}}
    <ChatLivePane @chatChannel={{this.previewedChannel}} @expanded={{true}} @floatHidden={{false}} @fullPage={{true}} @includeHeader={{false}} @onSwitchChannel={{action "onSwitchFromDraftChannel"}} />
  {{/if}}
</div>
