{{#if replyToMsg}}
  {{chat-composer-message-details
    message=replyToMsg
    icon="reply"
    action=(action "cancelReplyTo")
    title="chat.cancel_reply"
  }}
{{/if}}
{{#if editingMessage}}
  {{chat-composer-message-details
    message=editingMessage
    icon="pencil-alt"
    action=(action "cancelEditing")
    title="chat.reply_edit"
  }}
{{/if}}

{{emoji-picker
  isActive=emojiPickerIsActive
  isEditorFocused=isEditorFocused
  emojiSelected=(action "onEmojiSelected")
  onEmojiPickerClose=(action (mut emojiPickerIsActive) false)
}}

<div
  role="region"
  aria-label={{i18n "chat.aria_roles.composer"}}
  class="chat-composer"
>

  {{chat-composer-dropdown buttons=dropdownButtons isDisabled=disableComposer}}

  {{d-textarea
    value=(readonly value)
    input=(action "onTextareaInput" value="target.value")
    type="text"
    class="chat-composer-input"
    disabled=disableComposer
    autocorrect="on"
    autocapitalize="sentences"
    placeholder=placeholder
    rows=1
  }}

  {{flat-button
    action=(action "sendClicked")
    icon="paper-plane"
    class="icon-only send-btn chat-composer-inline-button"
    title=sendTitle
    disabled=sendDisabled
  }}

  {{chat-composer-inline-buttons buttons=inlineButtons}}
</div>

{{#if canAttachUploads}}
  {{chat-composer-uploads
    fullPage=fullPage
    fileUploadElementId=fileUploadElementId
    onUploadChanged=(action "uploadsChanged")
  }}
{{/if}}
