<div
  id="chat-channel-row-{{channel.id}}"
  class="{{rowClassNames}} {{if isUnfollowing "unfollowing"}}"
  {{on "click" (fn this.handleClick)}}
  {{on "keydown" (fn this.handleKeydown)}}
  {{on "mousedown" (fn this.handleNewWindow)}}
  role="button"
  tabindex="0"
  data-chat-channel-id={{channel.id}}
>
  {{chat-channel-title channel=channel}}
  {{chat-channel-unread-indicator channel=channel}}

  {{#if showSettingsButton}}
    {{chat-channel-settings-btn channel=channel}}
  {{/if}}

  {{#if options.leaveButton}}
    {{chat-channel-leave-btn
      channel=channel
      onLeaveChannel=(action "onLeaveChannel")
    }}
  {{/if}}
</div>
