{{#if (eq type IMAGE_TYPE)}}
  <img data-orig-src={{upload.short_url}} height={{upload.height}} width={{upload.width}}>
{{else}}
  <a data-orig-href={{upload.short_url}}>{{upload.original_filename}}</a>
{{/if}}
