<div class="flagged-post-header">
  {{#link-to
    "chat.channel"
    reviewable.chat_channel.id
    reviewable.chat_channel.title
    (query-params messageId=reviewable.chat_message.id)
  }}
    {{chat-channel-title channel=reviewable.chat_channel}}
  {{/link-to}}
</div>

<div class="post-contents-wrapper">
  {{reviewable-created-by user=reviewable.chat_message.user tagName=""}}
  <div class="post-contents">
    {{reviewable-post-header
      reviewable=reviewable
      createdBy=reviewable.chat_message.user
      tagName=""
    }}

    <div class="post-body">
      {{html-safe (or reviewable.payload.message_cooked reviewable.chat_message.cooked)}}
    </div>

    {{#if this.reviewable.payload.transcript_topic_id}}
      <div class="transcript">
        <LinkTo @route="topic" @models={{array "-" this.reviewable.payload.transcript_topic_id}} class="btn btn-small">
          {{i18n "review.transcript.view"}}
        </LinkTo>
      </div>
    {{/if}}

    {{yield}}
  </div>
</div>
