<div class={{messageContainerClasses}}>
  {{#if message.newestMessage}}
    <div class="tc-new-messages">
      <div class="new-message-separator"></div>
      <span class="new-message-indicator">
        {{i18n "chat.new_messages"}}
      </span>
    </div>
  {{/if}}

  {{emoji-picker
    isActive=emojiPickerIsActive
    isEditorFocused=true
    usePopper=false
    emojiSelected=(action "selectReaction")
    onEmojiPickerClose=(action (mut emojiPickerIsActive) false)
  }}
  {{#if show}}
    {{#if selectingMessages}}
      {{input
        type="checkbox"
        class="chat-message-selector"
        checked=message.selected
        click=(action "toggleChecked")
      }}
    {{/if}}
    {{#if deletedAndCollapsed}}
      <div class="tc-message-deleted">
        {{d-button
          class="btn-flat tc-message-expand-deleted"
          action=(action "expand")
          label="chat.deleted"
        }}
      </div>
    {{else}}
      <div class={{innerMessageClasses}}>
        {{#unless message.staged}}
          <div class="tc-msgactions-hover">
            <div class="tc-msgactions">
              {{d-button
                class="btn-flat react-btn"
                action=(action "startReactionForMsgActions")
                icon="discourse-emojis"
                title="chat.react"
              }}
              {{d-button
                class="btn-flat link-to-message-btn"
                action=(action "copyLinkToMessage")
                icon="link"
                title="chat.copy_link"
              }}
              {{#unless message.deleted_at}}
                {{d-button
                  class="btn-flat reply-btn"
                  action=(action "reply")
                  icon="reply"
                  title="chat.reply"
                }}
              {{/unless}}
              {{#if showEditButton}}
                {{d-button
                  class="btn-flat edit-btn"
                  action=(action "edit")
                  icon="pencil-alt"
                  title="chat.edit"
                }}
              {{/if}}
              {{#unless selectingMessages}}
                {{d-button
                  class="btn-flat select-btn"
                  action=(action "selectMessage")
                  icon="tasks"
                  title="chat.select"
                }}
              {{/unless}}
              {{#if showFlagButton}}
                {{d-button
                  class="btn-flat flag-btn"
                  action=(action "flag")
                  icon="flag"
                  title="chat.flag"
                }}
              {{/if}}
              {{#if showDeleteButton}}
                {{d-button
                  class="btn-flat delete-btn"
                  action=(action "deleteMessage")
                  icon="trash-alt"
                  title="chat.delete"
                }}
              {{/if}}
              {{#if showRestoreButton}}
                {{d-button
                  class="btn-flat restore-btn"
                  action=(action "restore")
                  icon="undo"
                  title="chat.restore"
                }}
              {{/if}}
            </div>
          </div>
        {{/unless}}

        {{#if message.in_reply_to}}
          <div role="button" onclick={{action "viewReply"}} class="tc-reply-display">
            {{d-icon "share" title="chat.in_reply_to"}}
            <span class="tc-reply-av">
              {{#if message.in_reply_to.chat_webhook_event.emoji}}
                {{replace-emoji message.in_reply_to.chat_webhook_event.emoji}}
              {{else}}
                {{avatar message.in_reply_to.user imageSize="tiny"}}
              {{/if}}
            </span>
            <span class="tc-reply-msg">
              {{replace-emoji message.in_reply_to.excerpt}}
            </span>
          </div>
        {{/if}}

        {{#unless hideUserInfo}}
          {{#if message.chat_webhook_event.emoji}}
            <div class="tc-avatar">
              <div class="tc-avatar-container">
                {{replace-emoji message.chat_webhook_event.emoji}}
              </div>
            </div>
          {{else}}
            <div class="tc-avatar">
              <div class="tc-avatar-container" data-user-card={{message.user.username}}>
                {{avatar message.user imageSize="medium"}}
                {{tc-user-presence-flair user=message.user}}
              </div>
            </div>
          {{/if}}
        {{/unless}}

        <div class="tc-message-container">

          <div class="tc-meta-data">
            {{#unless hideUserInfo}}
              <span class={{usernameClasses}}>
                {{#if message.chat_webhook_event.username}}
                  {{message.chat_webhook_event.username}}
                {{else}}
                  {{name}}
                {{/if}}
              </span>
              {{#if message.chat_webhook_event}}
                <span class="tc-bot-indicator">{{i18n "chat.bot"}}</span>
              {{/if}}
            {{/unless}}
            {{format-date message.created_at format="tiny"}}
          </div>
          {{#if message.action_code}}
            <span class="tc-action-text">
              {{html-safe actionCodeText}}
            </span>
          {{else}}
            <p class="tc-text">
              {{html-safe message.cooked}}
              {{#if message.uploads.length}}
                <div class="tc-uploads">
                  {{#each message.uploads as |upload|}}
                    {{chat-upload upload=upload}}
                  {{/each}}
                </div>
              {{/if}}
              {{#if message.edited}}
                <div class="tc-message-edited">
                  {{i18n "chat.edited"}}
                </div>
              {{/if}}

              {{#if hasReactions}}
                <div class="chat-message-reaction-list">
                  {{#if reactionLabel}}
                    <div class="reaction-users-list">
                      {{replace-emoji reactionLabel}}
                    </div>
                  {{/if}}
                  {{#each-in message.reactions as |emoji reactionAttrs|}}
                    {{chat-message-reaction
                      emoji=emoji
                      count=reactionAttrs.count
                      users=reactionAttrs.users
                      reacted=reactionAttrs.reacted
                      react=(action "react")
                      showUsersList=(action "showUsersList")
                      hideUsersList=(action "hideUsersList")
                    }}
                  {{/each-in}}
                  {{d-button
                    class="chat-message-react-btn"
                    action=(action "startReactionForReactionList")
                    icon="discourse-emojis"
                    title="chat.react"
                  }}
                </div>
              {{/if}}
            </p>
          {{/if}}
          {{#if message.error}}
            <div class="tc-send-error">
              {{i18n "chat.send_error"}}
            </div>
          {{/if}}

          {{#if message.mentionWarning}}
            <div class="alert alert-info chat-message-mention-warning">
              {{#if message.mentionWarning.cannot_see}}
                <p class="cannot-see">{{mentionedCannotSeeText}}</p>
              {{/if}}

              {{#if message.mentionWarning.without_membership}}
                <p class="without-membership">
                  {{mentionedWithoutMembershipText}}
                  <div class="invite-link" role="button" onclick={{action "inviteMentioned"}}>
                    {{i18n "chat.mention_warning.invite"}}
                  </div>
                </p>
              {{/if}}
            </div>
          {{/if}}

        </div>
      </div>
    {{/if}}
  {{/if}}
</div>
