{{#if show}}
  {{#if deletedAndCollapsed}}
    <div class="tc-message-deleted">
      {{d-button
        class="btn-flat tc-message-expand-deleted"
        action="expand"
        label="chat.deleted"
      }}
    </div>
  {{else}}
    <div class={{messageClasses}}>
      <div class="tc-msgactions-hover">
        <div class="tc-msgactions">
          {{#if showReplyButton}}
            {{d-button
              class="btn-flat reply-btn"
              action="reply"
              icon="reply"
            }}
          {{/if}}
          {{#if showEditButton}}
            {{d-button
              class="btn-flat edit-btn"
              action="edit"
              icon="pencil-alt"
            }}
          {{/if}}
          {{#if showFlagButton}}
            {{d-button
              class="btn-flat flag-btn"
              action="flag"
              icon="flag"
            }}
          {{/if}}
          {{#if showDeleteButton}}
            {{d-button
              class="btn-flat delete-btn"
              action="deleteMessage"
              icon="trash-alt"
            }}
          {{/if}}
          {{#if showRestoreButton}}
            {{d-button
              class="btn-flat restore-btn"
              action="restore"
              icon="undo"
            }}
          {{/if}}
        </div>
      </div>

      {{#if message.in_reply_to}}
        <div class="tc-reply-display">
          {{d-icon "share" title="chat.in_reply_to"}}
          <span class="tc-reply-av">
            {{avatar message.in_reply_to.user imageSize="tiny"}}
          </span>
          <span class="tc-reply-msg">
            {{html-safe message.in_reply_to.cookedMessage}}
          </span>
        </div>
      {{/if}}

      <div class="tc-avatar">
        {{avatar message.user imageSize="medium"}}
      </div>

      <div class="tc-message-container">
        <div class="tc-meta-data">
          <span class={{usernameClasses}}>{{name}}</span>
          {{format-date message.created_at format="tiny"}}
        </div>
        {{#if message.action_code}}
          <span class="tc-action-text">
            {{html-safe actionCodeText}}
          </span>
        {{else}}
          <p class="tc-text">
            {{html-safe message.cookedMessage}}
            {{#if message.edited}}
              <div class="tc-message-edited">
                {{i18n "chat.edited"}}
              </div>
            {{/if}}
          </p>
        {{/if}}
      </div>
    </div>
  {{/if}}
{{/if}}
