<div class="tc-message-collapsible">
  {{#if uploads}}
    {{html-safe cooked}}
  {{/if}}

  <div class="tc-message-collapsible-header">
    {{#if uploads}}
      <span class="tc-message-collapsible-filename">
        {{filename}}
      </span>
    {{else}}
      <a
        target="_blank"
        class="tc-message-collapsible-link"
        rel="noopener noreferrer"
        href={{link}}
      >{{title}}</a>
    {{/if}}

    {{#if collapsed}}
      {{d-button
        action=(action "open")
        icon="caret-right"
        class="tc-message-collapsible-button tc-message-collapsible-close"
      }}
    {{else}}
      {{d-button
        action=(action "close")
        icon="caret-down"
        class="tc-message-collapsible-button tc-message-collapsible-open"
      }}
    {{/if}}
  </div>

  {{#unless collapsed}}
    {{#if uploads}}
      <div class="tc-uploads">
        {{#each uploads as |upload|}}
          {{chat-upload upload=upload}}
        {{/each}}
      </div>
    {{else}}
      {{html-safe cooked}}
    {{/if}}
  {{/unless}}
</div>
