<div class="topic-chat-drawer">
  <div class={{containerClassNames}}>
    <div class="topic-chat-drawer-header" {{on "click" (action "toggleExpand")}}>
      <span class="tc-title">Chat</span>
      {{d-icon this.expandIcon}}
    </div>
    <div class="topic-chat-drawer-content">
    {{#each message in messages}}
      <div class="topic-chat-msg">
      <span class="user">{{message.username}}</span>
      <span class="msg">{{message.text}}</span>
      </div>
    {{/each}}
    </div>
  </div>
</div>
