<div class="chat-drawer">
  <div
    class={{containerClassNames}}
    data-chat-channel-id={{chat.activeChannel.id}}
  >
    <div
      role="region"
      aria-label={{i18n "chat.aria_roles.header"}}
      class="topic-chat-drawer-header"
    >
      {{#if (and draftChannelView this.expanded)}}
        <div class="topic-chat-drawer-header__left-actions">
          <div class="topic-chat-drawer-header__top-line">
            {{flat-button
              class="return-to-channels"
              icon="chevron-left"
              action=(action "fetchChannels")
              title="chat.return_to_list"
            }}
          </div>
        </div>

        <span class="topic-chat-drawer-header__title">
          <div class="topic-chat-drawer-header__top-line">
            {{i18n "chat.direct_message_creator.title"}}
          </div>
        </span>
      {{else if chatView}}
        {{#if this.expanded}}
          <div class="topic-chat-drawer-header__left-actions">
            {{flat-button
              class="return-to-channels"
              icon="chevron-left"
              action=(action "fetchChannels")
              title="chat.return_to_list"
            }}
          </div>
        {{/if}}

        {{#if chat.activeChannel}}
          {{#if expanded}}
            {{#link-to
              infoTabRoute
              chat.activeChannel.id
              chat.activeChannel.title
              class="topic-chat-drawer-header__title"
            }}
              <div class="topic-chat-drawer-header__top-line">
                {{chat-channel-title channel=chat.activeChannel}}
              </div>
            {{/link-to}}
          {{else}}
            <div role="button" {{action "toggleExpand"}} class="topic-chat-drawer-header__title">
              <div class="topic-chat-drawer-header__top-line">
                {{#chat-channel-title channel=chat.activeChannel}}
                  {{#if unreadCount}}
                    <span class="chat-unread-count">{{unreadCount}}</span>
                  {{/if}}
                {{/chat-channel-title}}
              </div>
            </div>
          {{/if}}
        {{/if}}
      {{else}}
        <span class="topic-chat-drawer-header__title">
          <div class="topic-chat-drawer-header__top-line">
            {{i18n "chat.heading"}}
          </div>
        </span>
      {{/if}}

      <div class="topic-chat-drawer-header__right-actions">
        <div class="topic-chat-drawer-header__top-line">
          {{#if expanded}}
            <button
              class="btn-flat chat-full-screen-btn"
              onmouseup={{action "openInFullPage"}}
              icon="discourse-expand"
              title={{i18n "chat.open_full_page"}}
              type="button"
            >
              {{d-icon "discourse-expand"}}
            </button>
          {{/if}}

          {{flat-button
            icon=this.expandIcon
            class="chat-expand"
            action=(action "toggleExpand")
            title="chat.collapse"
          }}

          {{#if showClose}}
            {{flat-button
              icon="times"
              action=(action "close")
              title="chat.close"
              class="chat-close-btn"
            }}
          {{/if}}
        </div>
      </div>
    </div>

    {{#if expanded}}
      <div class="topic-chat-drawer-content">
        {{#if (and chatView chat.activeChannel)}}
          {{chat-live-pane
            chatChannel=chat.activeChannel
            expanded=this.expanded
            floatHidden=this.hidden
            fullPage=false
            onSwitchChannel=(action "switchChannel")
          }}
        {{else if draftChannelView}}
          {{chat-draft-channel-screen onSwitchChannel=(action "switchChannel")}}
        {{else}}
          {{channels-list
            floatHidden=this.hidden
            onOpenView=(action "openView")
            onSelect=(action "switchChannel")
          }}
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
