<div class="chat-drawer">
  <div class={{containerClassNames}} data-chat-channel-id={{activeChannel.id}}>
    <div role="region" aria-label={{i18n "chat.aria_roles.header"}} class="topic-chat-drawer-header">
      {{#if chatView}}
        {{#if this.expanded}}
          {{flat-button
            class="return-to-channels"
            icon="chevron-left"
            action=(action "fetchChannels")
            title="chat.return_to_list"
          }}
        {{/if}}

        {{#if activeChannel}}
          {{chat-channel-title channel=activeChannel onClick=(action "onChannelTitleClick")}}
          {{#if (and (not expanded) unreadCount)}}
            <span class="chat-unread-count">{{unreadCount}}</span>
          {{/if}}
        {{/if}}
      {{else}}
        <span class="no-channel-title">{{i18n "chat.heading"}}</span>
      {{/if}}

      <button
        class="btn-flat chat-full-screen-btn"
        onmouseup={{action "openInFullPage"}}
        icon="discourse-expand"
        title={{i18n "chat.open_full_page"}}
        type="button"
      >
        {{d-icon "discourse-expand"}}
      </button>
      {{flat-button icon=this.expandIcon class="chat-expand" action=(action "toggleExpand") title="chat.collapse"}}

      {{#if showClose}}
        {{flat-button icon="times" action=(action "close") title="chat.close"}}
      {{/if}}
    </div>

    {{!-- Content --}}
    <div class="topic-chat-drawer-content">
      {{#if chatView}}
        {{#if this.activeChannel}}
          {{chat-live-pane
            chatChannel=activeChannel
            expanded=this.expanded
            floatHidden=this.hidden
            fullPage=false
          }}
        {{/if}}
      {{else}}
        {{channel-list
          publicChannels=publicChannels
          directMessageChannels=directMessageChannels
          onSelect=(action "switchChannel")
        }}
      {{/if}}
    </div>
  </div>
</div>
