<div class="tc-drawer">
  <div class={{containerClassNames}}>
    <div class="topic-chat-drawer-header">
      {{#if chatView}}
        {{#if this.expanded}}
          {{flat-button
            class="return-to-channels"
            icon="chevron-left"
            action=(action "fetchChannels")
            title="chat.return_to_list"
          }}
        {{/if}}
        <a href={{activeChannel.chatable_url}} class="tc-title-seg">
          {{#if activeChannel}}
            {{chat-channel-title channel=activeChannel}}
            {{#if (and (not expanded) unreadCount)}}
              <span class="tc-unread-count">{{unreadCount}}</span>
            {{/if}}
          {{/if}}
        </a>
      {{else}}
        <div class="tc-title-seg">
          <span class="tc-branding">{{i18n "chat.list"}}</span>
        </div>
      {{/if}}

      {{flat-button icon=this.expandIcon class="tc-expand" action=(action "toggleExpand") title="chat.collapse"}}

      {{#if showClose}}
        {{flat-button icon="times" action=(action "close") title="chat.close"}}
      {{/if}}
    </div>

    {{!-- Content --}}
    <div class="topic-chat-drawer-content">
      {{#if chatView}}
        {{#if (and this.activeChannel cookFunction)}}
          {{chat-live-pane
            cook=cookFunction
            chatChannel=activeChannel
            expanded=this.expanded
            floatHidden=this.hidden
          }}
        {{/if}}
      {{else}}
        <div class="tc-channels">
          {{#conditional-loading-spinner condition=this.loading}}
            <div class="chat-channel-divider">
              {{i18n "chat.chat_channels"}}
            </div>
            <div class="chat-channels-container">
              {{#each publicChannels as |channel|}}
                {{chat-channel-row channel=channel switchChannel=(action "switchChannel")}}
              {{/each}}
            </div>

            <div class="chat-channel-divider">
              {{i18n "chat.direct_messages.title"}}
              {{#unless creatingDmChannel}}
                {{flat-button
                  class="new-dm"
                  icon="plus"
                  action=(action "startCreatingDmChannel")
                  title="chat.direct_messages.new"
                }}
              {{/unless}}
            </div>
            {{#if creatingDmChannel}}
              <div class="dm-creation-row">
                {{user-chooser
                  class="dm-user-chooser"
                  value=newDmUsernames
                  onChange=(action "onChangeNewDmUsernames")
                  options=(hash
                    excludeCurrentUser=true
                  )
                }}
                {{d-button
                  class="create-dm btn-primary"
                  disabled=newDmUsernamesEmpty
                  label="chat.direct_messages.create"
                  action=(action "createDmChannel")
                  title="chat.direct_messages.create"
                }}
                {{d-button
                  class="create-dm"
                  icon="times"
                  action=(action "resetDmCreation")
                  title="chat.direct_messages.cancel"
                }}
              </div>
            {{/if}}
            <div class="chat-channels-container">
              {{#each sortedDirectMessageChannels as |channel|}}
                {{chat-channel-row channel=channel switchChannel=(action "switchChannel")}}
              {{/each}}
            </div>
          {{/conditional-loading-spinner}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
