<div class="tc-drawer">
  <div class={{containerClassNames}}>
    <div class="topic-chat-drawer-header">
      {{#if chatView}}
        {{#if this.expanded}}
          {{flat-button
            class="return-to-channels"
            icon="chevron-left"
            action=(action "fetchChannels")
            title="chat.return_to_list"
          }}
        {{/if}}
        <a href={{activeChannel.chatable_url}} class="tc-title-seg">
          {{#if activeChannel}}
            {{chat-channel-title channel=activeChannel}}
            {{#if (and (not expanded) unreadCount)}}
              <span class="tc-unread-count">{{unreadCount}}</span>
            {{/if}}
          {{/if}}
        </a>
      {{else}}
        <div class="tc-title-seg">
          <span class="tc-branding">{{i18n "chat.list"}}</span>
        </div>
      {{/if}}

      {{flat-button icon=this.expandIcon class="tc-expand" action=(action "toggleExpand") title="chat.collapse"}}

      {{#if showClose}}
        {{flat-button icon="times" action=(action "close") title="chat.close"}}
      {{/if}}
    </div>

    {{!-- Content --}}
    <div class="topic-chat-drawer-content">
      {{#if chatView}}
        {{#if this.activeChannel}}
          {{chat-live-pane
            chatChannel=activeChannel
            expanded=this.expanded
            floatHidden=this.hidden
            fullPage=false
          }}
        {{/if}}
      {{else}}
        {{channel-list
          publicChannels=publicChannels
          directMessageChannels=directMessageChannels
          onSelect=(action "switchChannel")
        }}
      {{/if}}
    </div>
  </div>
</div>
