<div class="tc-drawer">
  <div class={{containerClassNames}}>
    <div class="topic-chat-drawer-header">

      {{#if chatView}}
        {{flat-button icon="chevron-left" action=(action "openChat") title="chat.return_to_list"}}
        <div class="tc-title-seg">
          <span class="tc-branding">{{i18n "chat.title_bare"}}</span>
          {{#if title}}
            <span class="tc-title-sep">-</span>
            <a href={{chatableUrl}} class="tc-topic-title">{{title}}</a>
            {{#if showUnreadMessageCount}}
              <span class="tc-unread-count">{{unreadMessageCount}}</span>
            {{/if}}
          {{/if}}
        </div>
      {{else}}
        <div class="tc-title-seg">
          <span class="tc-branding">{{i18n "chat.list"}}</span>
        </div>

      {{/if}}

      {{flat-button icon=this.expandIcon class="tc-expand" action=(action "toggleExpand") title="chat.collapse"}}
      {{#if showClose}}
        {{flat-button icon="times" action=(action "close") title="chat.close"}}
      {{/if}}
    </div>
    <div class="topic-chat-drawer-content">
      {{#if chatView}}
        {{#if this.chatChannelId}}
          {{chat-live-pane
            chatChannelType=this.chatChannelType
            chatChannelId=this.chatChannelId
            newMessageCb=(action "newMessageCb")
            expanded=this.expanded
          }}
        {{/if}}
      {{else}}

        <ul class="tc-channels">
          {{#each channels as |channel|}}
            <li class="tc-channel-item" onclick={{action "switchChannel" channel}}>
            {{channel.title}}
            <small>{{channel.chatable_type}}</small>
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
</div>
