<label class="control-label">{{i18n "chat.title_capitalized"}}</label>

<div class="control-group chat-setting">
  <label class="controls">
    {{input
      id="user_chat_enabled"
      type="checkbox"
      checked=model.user_option.chat_enabled
    }}
    {{i18n "chat.enable"}}
  </label>
</div>

<div class="control-group chat-setting">
  <label class="controls">
    {{input
      id="user_chat_only_push_notifications"
      type="checkbox"
      checked=model.user_option.only_chat_push_notifications
    }}
    {{i18n "chat.only_chat_push_notifications.title"}}
  </label>
  <span class="control-instructions">{{i18n "chat.only_chat_push_notifications.description"}}</span>
</div>

<div class="control-group chat-setting">
  <label class="controls">
    {{input
      id="user_chat_isolated"
      type="checkbox"
      checked=model.user_option.chat_isolated
    }}
    {{i18n "chat.isolate.title"}}
  </label>
  <span class="control-instructions">{{i18n "chat.isolate.description"}}</span>
</div>

<div class="control-group chat-setting">
  <label class="controls">
    {{input
      id="user_chat_ignore_channel_wide_mention"
      type="checkbox"
      checked=model.user_option.ignore_channel_wide_mention
    }}
    {{i18n "chat.ignore_channel_wide_mention.title"}}
  </label>
  <span class="control-instructions">{{i18n "chat.ignore_channel_wide_mention.description"}}</span>
</div>

<div class="control-group chat-setting controls-dropdown">
  <label for="user_chat_sounds">{{i18n "chat.sound.title"}}</label>
  {{combo-box
    none="chat.sounds.none"
    valueProperty="value"
    content=chatSounds
    value=model.user_option.chat_sound
    id="user_chat_sounds"
    onChange=(action "onChangeChatSound")
  }}
</div>

{{save-controls id="user_chat_preference_save" model=model action=(action "save") saved=saved}}
